*{
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre {
    background-color: white;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
}

.header {
    background:url(../images/header.jpg);
    background-size: scale(1.1);
    background-position: -31rem 52% ;
    display:flex;
    flex-flow: column nowrap;
    position:absolute;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}
.logo{
    display: flex;
    height: 5rem;
}
.logo:hover{
    cursor: pointer;
    transform:scale(1.2);
    transition: all(0.3);
}
.nav{
    display: flex;
    flex-flow: row nowrap;
    color:grey;
    list-style-type: none;
    text-align: center;
    margin-left: 80px;
}

.icon-inicio{
    margin-top: -13px;
    margin-left: -35px;
    position: absolute;
    width: 2.5rem;
}
.icon-rutas{
    margin-top: -13px;
    margin-left: -35px;
    position: absolute;
    width: 2.4rem;
}
.icon-hoteles{
    margin-top: -10px;
    margin-left: -35px;
    position: absolute;
    width: 2.3rem;
}
.icon-vuelos{
    margin-top: -11px;
    margin-left: -35px;
    position: absolute;
    width: 2.2rem;
}
.icon-contacto{
    margin-top: -10px;
    margin-left: -35px;
    position: absolute;
    width: 2.3rem;
}

#inicio:hover {
cursor: pointer;
color: #f07b3f;
transform:scale(1.1);
transition: all(0.3);
}
#rutas:hover {
cursor: pointer;
color: #f07b3f;
transform:scale(1.1);
transition: all(0.3);
}
#hoteles:hover {
cursor: pointer;
color: #f07b3f;
transform:scale(1.1);
transition: all(0.3);
}
#vuelos:hover {
cursor: pointer;
color: #f07b3f;
transform:scale(1.1);
transition: all(0.3);
}
#contacto:hover {
cursor: pointer;
color: #f07b3f;
transform:scale(1.1);
transition: all(0.3);
}

.social{
    display: flex;
}
.icon-instagram{
    width: 3rem;
}

.icon-facebook{
    width: 3rem;
}

.icon-instagram:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all(0.3);
}
.icon-facebook:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all(0.3);
}

.rectangulo-header{
    background-color: grey;
    width: 50rem;
    opacity:0.1;
    padding:4.5rem;
    margin-bottom: -6.7rem;
}
    h1{
       color:#f07b3f;
       font-family: 'Cormorant Garamond';
       opacity: 0.7;
       font-size:1.8rem;
       text-align: center;
    }

